In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from datetime import datetime

In [2]:
def split(x):
    if ' ' in x:
        y = x.split(' ')[0]
    elif 'T' in x:
        y = x.split('T')[0]
    return y

In [1]:
def fix(x):
    x = split(x)
    if '/' in x:
        if '2020' in x:
            y = datetime.strptime(x, '%m/%d/%Y').date()
        else:
            y = datetime.strptime(x, '%m/%d/%y').date()
    elif '-' in x:
        if '2020' in x:
            y = datetime.strptime(x, '%Y-%m-%d')
        else:
            y = datetime.strptime(x, '%y-%m-%d').date()
    return y

In [2]:
pth = '../US_covid_cases.csv'
us = pd.read_csv(pth)

NameError: name 'pd' is not defined

In [5]:
'WA' in 'Seattle, WA'

True

In [6]:
wash = us[(us['Province_State'] == 'Washington') | (us['Province_State'].str.contains('WA'))]

In [7]:
wash

,Unnamed: 0,Confirmed,Country_Region,Deaths,Last_Update,Lat,Long_,Province_State,Recovered
0,31,1.0,US,NaN,1/22/2020 17:00,NaN,NaN,Washington,NaN
1,31,1.0,US,NaN,1/23/20 17:00,NaN,NaN,Washington,NaN
2,33,1.0,US,NaN,1/24/20 17:00,NaN,NaN,Washington,NaN
4,33,1.0,US,NaN,1/25/20 17:00,NaN,NaN,Washington,NaN
6,33,1.0,US,NaN,1/26/20 16:00,NaN,NaN,Washington,NaN
...,...,...,...,...,...,...,...,...,...
23563,2936,0.0,US,0.0,2020-03-28 23:05:37,46.291800,-123.425083,Washington,0.0
23570,2943,4.0,US,0.0,2020-03-28 23:05:37,46.230401,-118.477554,Washington,0.0
23684,3057,102.0,US,4.0,2020-03-28 23:05:37,48.822280,-121.749002,Washington,0.0
23700,3073,6.0,US,0.0,2020-03-28 23:05:37,46.900225,-117.524176,Washington,0.0
23770,3143,82.0,US,2.0,2020-03-28 23:05:37,46.457385,-120.738013,Washington,0.0

In [10]:
wash = wash[['Province_State', 'Confirmed', 'Deaths', 'Recovered', 'Last_Update']]

In [12]:
wash['Date'] = wash['Last_Update'].apply(fix)

In [13]:
wash

,Province_State,Confirmed,Deaths,Recovered,Last_Update,Date
0,Washington,1.0,NaN,NaN,1/22/2020 17:00,2020-01-22
1,Washington,1.0,NaN,NaN,1/23/20 17:00,2020-01-23
2,Washington,1.0,NaN,NaN,1/24/20 17:00,2020-01-24
4,Washington,1.0,NaN,NaN,1/25/20 17:00,2020-01-25
6,Washington,1.0,NaN,NaN,1/26/20 16:00,2020-01-26
...,...,...,...,...,...,...
23563,Washington,0.0,0.0,0.0,2020-03-28 23:05:37,2020-03-28
23570,Washington,4.0,0.0,0.0,2020-03-28 23:05:37,2020-03-28
23684,Washington,102.0,4.0,0.0,2020-03-28 23:05:37,2020-03-28
23700,Washington,6.0,0.0,0.0,2020-03-28 23:05:37,2020-03-28
23770,Washington,82.0,2.0,0.0,2020-03-28 23:05:37,2020-03-28

In [14]:
wash = wash.drop_duplicates(['Province_State', 'Last_Update', 'Date'])

In [16]:
wash.count()

Province_State    59
Confirmed         59
Deaths            49
Recovered         49
Last_Update       59
Date              59
dtype: int64

In [190]:
wash = wash.fillna(0)
wash = wash.groupby('Date').sum()

In [191]:
wash

            Confirmed  Deaths  Recovered
Date
2020-01-22        1.0     0.0        0.0
2020-01-23        1.0     0.0        0.0
2020-01-24        1.0     0.0        0.0
2020-01-25        1.0     0.0        0.0
2020-01-26        1.0     0.0        0.0
2020-01-27        1.0     0.0        0.0
2020-01-28        1.0     0.0        0.0
2020-01-29        1.0     0.0        0.0
2020-01-30        1.0     0.0        0.0
2020-01-31        1.0     0.0        0.0
2020-02-01        2.0     0.0        0.0
2020-02-09        1.0     0.0        1.0
2020-02-29        7.0     1.0        1.0
2020-03-01       11.0     1.0        1.0
2020-03-02       18.0     6.0        1.0
2020-03-03       27.0     7.0        1.0
2020-03-04       39.0    10.0        1.0
2020-03-05       70.0    11.0        1.0
2020-03-06       82.0    13.0        1.0
2020-03-07      101.0    16.0        1.0
2020-03-08      120.0    18.0        1.0
2020-03-09        1.0     1.0        0.0
2020-03-10      267.0    23.0        1.0
2020-03-11      934.0    66.0        2.0
2020-03-12      442.0    31.0        1.0
2020-03-14      572.0    37.0        1.0
2020-03-15      643.0    40.0        1.0
2020-03-16      904.0    48.0        1.0
2020-03-17     1076.0    55.0        1.0
2020-03-18     1014.0    55.0        0.0
2020-03-19     1376.0    74.0        0.0
2020-03-20     1524.0    83.0        0.0
2020-03-21     1793.0    94.0        0.0
2020-03-22     1040.0    75.0        0.0
2020-03-23        1.0     0.0        0.0
2020-03-24        1.0     0.0        0.0
2020-03-25        1.0     0.0        0.0
2020-03-26        3.0     0.0        0.0
2020-03-27        3.0     0.0        0.0
2020-03-28        5.0     0.0        0.0